section.get-started {
  & {
    padding: 7rem 1rem;
  }
  .get-started-wrapper {
    & {
      display: grid;
      gap: 3rem;
      grid-template-columns: 4fr 5fr;
    }
    .info {
      & {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      span {
        font-weight: bold;
        text-transform: uppercase;
        color: #FF6E5B;
        font-size: .9rem; 
      }
      .title {
        color: #1D2B47;
        h1 {
          font-weight: bold;
          font-size: 2rem;
          margin-bottom: .5rem;
        }
        h2 {
          font-weight: 100;
        }
      }
      .text {
        p {
          margin: 2rem 0;
        }
      }
      .button {
        width: fit-content;
        color: #fff;
        background-color: #1D2B47;
      }
    }
  }

}

@media all and (max-width: 950px) {
  section.get-started {
    .get-started-wrapper {
      & {
        justify-items: center;
        grid-template-columns: none;
        grid-template-rows: min-content min-content;
      }
    }
  }
}